/* @media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    padding: 15px;
    max-width: 320px;
    border: 1px solid black;
    width: 500px;
    height: 250px;

  }
  .uname , .email, .password,.c_password{
    margin: 0 25%;
padding: 5px; 
display: block;   
  }
  

}
 */
.body , html {
  height: 100%;
}

 .Login_container,
 .Signup_container{
  width: 23%;
  height: 15%;
   margin: 15% auto ;
   margin-top: 6% ;
   margin-bottom: 2%;
   background: #111111;
  padding:2% 2% ;
  border-radius: 1.5%;
  

 }
 .ant-form-item-extra {
  clear: both;
  min-height: 2px;
  padding-top: 0;
  margin-left: 0%;
  justify-items:fixed;
  
  color: rgba(180, 18, 18, 0.651);
  font-size: 14px;
  line-height: 1.5715;
  -webkit-transition: color .3s cubic-bezier(.215,.61,.355,1);
  transition: color .2s cubic-bezier(.215,.61,.355,1);
 }
 .ant-form-item-change {
  clear: both;
  min-height: 3px;
  padding-top: 0;
  margin-left: 0%;
  width: 100%;
  justify-items:fixed;
  color: rgba(8, 4, 4, 0.651);
  font-size: 15px;
 }
 .bg {
  min-height: 100%;
  min-width: 400px;
  width: 100%;
  height: auto;
  position: absolute;
  
  background-size: 100% 100%;
    background-image: url("./bg.png");
}
